.privacy-page
{
  padding: 50px;
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 16.25px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.privacy-page h1
{
  margin-bottom: 15px;
}
.privacy-page h3
{
  margin-top: 15px;
}
.privacy-page p
{
  font-family         : "Avenir-Medium", Helvetica, Arial, serif;
}